@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
}

/*header*/


h1, .head-text, main{
    max-width: 80%;
    margin: 0% 10%;
}

h1{
    text-align: center;
    color: deeppink;
    padding: 20px 0px;
    font-family: 'Varela Round', sans-serif;
}

.head-text{
    text-align: center;
}
/* main */

main{
    margin-top: 25px;
}

.flag{
    background-color: black;
    width: calc((100% - 60px) / 3);
    float: left;
    margin: 10px;
    height: 136px;
}

.img-left{
    width: 35%;
    float: left;
    margin-right: 10px;
}

img{
    width: 100%;
    height: 100%;
}

.text-right{
    margin-top: 20px;
    color: white;
    width: 80%;
    line-height: 35px;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

